.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: fit-content;
}

.wrapper-about{
    background: var(--color-secondary);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.message-about-us{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 2rem;
    text-align: justify;
    overflow: auto;
    width: 55%;
}
.image-about-page{
    max-width: 40rem;
    width: 55%;
    overflow: hidden;
}

.image-about-page img{
    max-width: 100%;
    margin-top: -5rem;
}

.about-step {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-button *{
    fill: var(--color-primary);
}

@media screen and (max-width:800px){
    .image-about-page{
        width: 100%;
    }
    .image-about-page img{
        margin-top: -2rem;
       width: 100%;
       height: auto;
    }
    .wrapper-about{
        width: 95% !important;
        padding: 0 ;
        flex-direction: column;
        align-items: center;
    }
    .message-about-us{
        margin-top: -5rem;
        width: 90%;
        padding: 1rem;
    }
}