.wrapper {
    padding: 2rem 5rem;
}

.edit-profil-form{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.text-input-profil{
    background: var(--color-accent);
    color: var(--color-secondary);
    padding: 0.6rem 1.2rem 0.6rem 0.6rem;
    border-radius: 0.5rem;
    width: 30rem;
    font-size: 1rem;
    
}    

.text-input-profil::placeholder{
    font-style: italic;
    color: white;
}
.wrapper-modify_email{
    display: flex;
    flex-direction: column;
    margin:15rem 10rem;
}
@media screen and (max-width:800px){
    .wrapper{
        padding: 2rem 1rem 1rem 1rem;
        width: 80% !important;
    }
    .text-input-profil{
        width: 100%;
    }
    .edit-profil-form{
        width: 100%;
    }
}