.wrapper-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;
    background: lightblue;
    align-content: center;
    padding: 5rem;
    margin: auto;

}

.box-list{
    border: solid 2px black;
    padding: 3rem;
    border-radius: 0.5rem 1rem;
    background: grey;
    width: 40%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-list:hover{
    cursor: pointer;
}

.box-list:hover svg{
    transform: rotate(90deg);
    transition: var(--transition);
}
.caret-svg{
   display: flex;
   flex-direction: column;
   align-items:  flex-end;
}
svg{
    transition: var(--transition);
}
.div-test{
   visibility: hidden;

}
.box-list:hover .div-test{
    visibility: visible;
}