.wrapper-list{
    display: flex;
    align-items: center;
    gap: 3rem;
    background: lightblue;
    flex-wrap: wrap;
    align-content: center;
    top: 10%;

}

.box-ingredient{
    border: solid 2px black;
    padding: 3rem;
    border-radius: 0.5rem 1rem 0.5rem 1rem;
    background: grey;
    color: white;
}

.box-ingredient:hover{
    cursor: pointer;
    opacity: 0.7;
}