.separators {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    gap: 2rem;
    padding: 2rem 8rem;
    background: rgba(255, 255, 255, 0.95);
    border-left: 0.1rem solid var(--color-primary);
    border-right: 0.1rem solid var(--color-primary);
}

.separator {
    transition: var(--transition);
    background: var(--color-accent);
    color: var(--color-secondary);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    position: relative;
    overflow: hidden;
}

.separator-arrow {
    transition: var(--transition);
    transform: rotate(-90deg);
}

.separator-arrow svg {
    transition: var(--transition);
    fill: var(--color-secondary);
    height: 1.8rem;
    width: 1.8rem;
}

.separator:hover {
    transition-delay: 0.35s;
    background: var(--color-accent-hover);
    height: 15rem;
}

.separator-text {
    transition: var(--transition);
    font-size: 1.4rem;
    font-weight: bold;
}

.separator:hover .image-overlay {
    transition-delay: 0.35s;
    opacity: 0;
}

.separator:hover .separator-text {
    transition-delay: 0.35s;
    font-size: 1.5rem;
    transform: translateY(-4rem);

}

.separator:hover .separator-arrow {
    transition-delay: 0s;
    transform: rotate(0deg);
} 

.separator:hover .separator-arrow svg{
    transition-delay: 0.3s;
    transform: translateY(10rem);
}

.separator > * {
    color: var(--color-secondary);
    width: fit-content;
}

.index-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.image-overlay {
    background: linear-gradient(to left,rgba(112, 108, 97, 0), rgba(112, 108, 97, 0), rgba(112, 108, 97, 0.75));
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 1;
    transition: var(--transition);
}

.separator-overlay {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    width: 88%;
    height: 100%;
    padding: 0 2rem;
}

@media screen and (max-width:800px) {
    /* insert mobile code here */

    .separators {
        padding: 2rem;
        width: 80%;
    }
}
