.wrapper{
    margin: 5rem 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.text-input {
    background: var(--color-accent);
    color: var(--color-secondary);
    padding: 0.6rem 1.2rem 0.6rem 0.6rem;
    border-radius: 0.5rem;
    width: 30rem;
    font-size: 1rem;
}

.text-input::placeholder {
    color: var(--color-secondary);
    font-style: italic
}
