.wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 0 10rem;
}

.login-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.login-image {
    width: 45%;
}

.login-image img {
    height: 100%;
    width: 100%;
    max-height: 40rem;
    object-fit: cover;
}

.text-input {
    background: var(--color-accent);
    color: var(--color-secondary);
    padding: 0.6rem 1.2rem 0.6rem 0.6rem;
    border-radius: 0.5rem;
    width: 30rem;
    font-size: 1rem;
}

.text-input::placeholder {
    color: var(--color-secondary);
    font-style: italic
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons-wrapper .button-tertiary {
    padding-left: 0;
}
