body {
    --color-primary: #333333;
    --color-secondary: #FFFFFF;
    --color-tertiary: #c7eae9;
    --color-tertiary-hover: #E1F4F3;
    --color-accent: #706C61;
    --color-accent-hover: #a09c92;

    --transition: 0.3s;

    font-family: Verdana;
    color: var(--color-primary);
    font-size: 1rem;
    margin: 0;
    height: 100%;
}

.header-banner {
    background: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-radius: 0 0 0.5rem 0.5rem;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.banner-title {
    font-size: 3rem;
}

a, a:hover, a:focus, a:active {
    color: var(--color-primary);
    text-decoration: none;
}

input:focus {
    outline: none;
}

input {
    border: none;
}   

.searchbar {
    background: var(--color-secondary);
    position: absolute;
    display: flex;
    align-items: center;
    width: fit-content;
    left: calc(50% - 10rem);
    gap: 1rem;
    padding: 0.6rem 1.2rem 0.6rem 0.6rem;
    border-radius: 0.5rem;
}

.searchbar-input {
    width: 15rem;
    font-size: 1rem;
    padding: 0.4rem;
}

.searchbar-input::placeholder {
    color: var(--color-accent-hover);
    font-style: italic;
}

.foodbook-logo {
    height: 7.5rem;
    width: 15rem;
}

.foodbook-logo > * {
    fill: var(--color-accent);
}

.search-icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.search-icon > * {
    fill: var(--color-primary);
}

.error_message {
    display: none;
    color: red;
}

.success_message {
    display: none;
    color: green;
}

.button {
    transition: var(--transition);
    color: var(--color-primary);
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
}

.button:hover {
    cursor: pointer;
}

.button-primary {
    border: 1px solid var(--color-primary);
    background: var(--color-accent);
    color: var(--color-secondary);
}

.button-primary:hover {
    background: var(--color-accent-hover)
}

.button-secondary {
    background: var(--color-tertiary);
    color: var(--color-primary);
    border: 1px solid var(--color-accent);
}

.button-secondary:hover {
    background: var(--color-tertiary-hover);
}

.button-tertiary {
    text-decoration: underline;
    font-weight: unset;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.button-tertiary:hover {
    text-decoration: none;
}

.button-tertiary:hover .arrow-svg {
    opacity: 1;
}

.interractible-svg {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}

.interractible-svg:hover {
    cursor: pointer;
}

.interractible-svg svg {
    width: 2rem;
    height: 2rem;
}

.interractible-svg > * {
    fill: var(--color-primary);
}

.svg-button {
    position: absolute;
}

.svg-button > * {
    fill: var(--color-secondary);
}

.svg-button svg {
    width: 2rem;
    height: 2rem;
}

.login-button {
    right: 4rem;
}

.list-button {
    right: 8rem;
}

.inventory-button {
    right: 12rem;
}

.hidden-cursor {
    cursor: default;
}

.arrow-svg {
    transition: var(--transition);
    opacity: 0;
    width: 2rem;
    height: 1rem;
}

.footer {
    border-top: 1px solid var(--color-accent-hover);
    color: #706C61;
    font-style: italic;
    font-size: 0.8rem;
    padding: 0.5rem 2rem;
}