.personal-recipes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 5rem auto;
    width: fit-content;
}

.add-new-recipe {
    display: none;
    border: 1px solid var(--color-primary);
    background: var(--color-accent);
    color: var(--color-secondary);
    transition: var(--transition);
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
}

.add-new-recipe:hover {
    background: var(--color-accent-hover);
    cursor: pointer;
}

.form-exit {
    position: absolute;
    right: 7rem;
    top: 7rem;
}

.form-exit svg {
    fill: var(--color-primary);
    height: 1.5rem;
    width: 1.5rem;
}

.form-exit:hover {
    cursor: pointer;
}

.transparent-background {
    height: 100%;
    width: 100%;
    z-index: 3;
}

.personal-recipes-add-recipe-form {
    background-color: rgba(51, 51, 51,0.8);
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
}

.form-content{
    background: var(--color-tertiary);
    border: 0.1rem solid var(--color-primary);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    margin: 5rem;
    height: 75%;
    z-index: 3;
}

.form-content-wrapper {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.text-input {
    width: 20rem;
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
}

.recipe-form-image-input,
.recipe-form-title-input,
.recipe-form-video-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipe-form-step-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.step-input {
    width: 50rem;
    max-width: 80%;
}

.recipe-form-ingredients,
.recipe-form-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.recipe-form-private-input {
    padding-bottom: 2rem;
}

.recipe-form-ingredients .neutral_message,
.recipe-form-steps .neutral_message {
    text-align: center;
}

.items-form-content {
    background: var(--color-tertiary);
    border: 0.1rem solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    border-radius: 2rem;
    margin: 5rem;
    height: 75%;
    z-index: 3;
    padding: 2rem;
}

.recipe-form-ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.recipe-ingredient,
.recipe-step {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.recipe-remove-item svg {
    fill: var(--color-primary);
    height: 0.9rem;
    width: 0.9rem;
}

.recipe-remove-item {
    display: flex;
    align-items: flex-end;
}

.recipe-form-private-input {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.recipe-form-title {
    font-size: 1.5rem;
    padding-top: 2rem;
}