.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 10rem;
    margin: auto;
    width: fit-content;
}

.recipes-container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.recipe-box {
    background: var(--color-accent);
    color: var(--color-secondary);
    position: relative;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
}

.recipe-box:hover{
    cursor: pointer;
}

.recipe-box:hover .recipe-title {
    transition: var(--transition);
    font-size: 1.2rem;
}

.recipe-title {
    color: var(--color-secondary);
    transition: var(--transition);
    background: radial-gradient(rgba(51, 51, 51, 0.6), rgba(0, 0, 0, 0));
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.recipe-image {
    object-fit: cover;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}