.wrapper {
    display: flex;
    padding: 2rem 5rem;
    margin: auto;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 80%;
}

.recipes-container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.recipe-box {
    background: var(--color-accent);
    color: var(--color-secondary);
    position: relative;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
}

.recipe-box:hover{
    cursor: pointer;
}

.recipe-box:hover .recipe-title {
    transition: var(--transition);
    font-size: 1.2rem;
}

.recipe-box:hover .recipe-overlay {
    opacity: 0;
}

.recipe-overlay {
    transition: var(--transition);
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(51, 51, 51, 0.6), rgba(0, 0, 0, 0));
}

.recipe-title {
    color: var(--color-secondary);
    transition: var(--transition);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
    height: 100%;
}

.recipe-image {
    object-fit: cover;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}

.form-filter{
    width: fit-content;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background: var(--color-secondary);
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    border-radius: 0.3rem;
    overflow: hidden;
    font-size: 1rem;
}

input::placeholder {
    font-size: 1rem;
}

.form-filter input {   
    border-radius: 0.3rem;
    background: var(--color-accent-border);
    overflow: hidden;
    padding: 1rem;
}   

.filter-button{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    /* insert mobile code here */

    .wrapper {
        padding: 2rem;
        width: 80% !important;
    }

    .form-filter {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5rem 0 0 0;
    }   

    .form-exit svg {
        width: 2rem;
        height: 2rem;
    }

    .form-exit > * {
        fill: var(--color-primary);
    }

    .form-exit {
        position: absolute;
        top: 1.5rem;
        right: 3rem;
    }

    .filter-button {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.8rem 5rem;
        border-radius: 0.3rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        background: var(--color-secondary) !important;
    }
    
    .filter-button svg {
        width: 1.5rem;
    }

    .filters-menu-button svg {
        width: 1rem;
    }

    .filters-menu-button {
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--color-accent-border);
        padding: 1rem;
        background: var(--color-secondary);
        border-radius: 0.3rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .mobile-filters-menu {
        position: fixed;
        display: none;
        height: 100%;
        width: 100%;
        z-index: 5;
        top: 0;
        left: 0;
    }

    .recipes-container {
        gap: 2rem;
    }

    .recipe-box {
        width: 15rem;
        height: 10rem;
    }

    .recipe-name {
        width: 20rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        background: var(--color-secondary) !important;
    }

    .filter-text {
        text-decoration: underline  ;
    }

}