.wrapper {
    display: flex;
    padding: 2rem 8rem;
    margin: auto;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.recipes-container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.recipe-box {
    background: var(--color-accent);
    color: var(--color-secondary);
    position: relative;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
}

.recipe-box:hover{
    cursor: pointer;
}

.recipe-box:hover .recipe-title {
    transition: var(--transition);
    font-size: 1.2rem;
}

.recipe-box:hover .recipe-overlay {
    opacity: 0;
}

.recipe-overlay {
    transition: var(--transition);
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(51, 51, 51, 0.6), rgba(0, 0, 0, 0));
}

.recipe-title {
    color: var(--color-secondary);
    transition: var(--transition);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.recipe-image {
    object-fit: cover;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}

.form-filter{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background: var(--color-secondary);
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    border-radius: 0.3rem;
    overflow: hidden;
    font-size: 1rem;
}

input::placeholder {
    font-size: 1rem;
}

.form-filter input {   
    border-radius: 0.3rem;
    background: var(--color-accent-border);
    overflow: hidden;
    padding: 1rem;
}   

.filter-button{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}