.recipe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 60rem;
}

.wrapper {
    margin: auto;
    width: fit-content;
    padding: 2rem 10rem;
}

.recipe-header {
    width: 100%;
    display: flex;
}

.recipe-image{
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
}

.recipe-image img {
    object-fit: contain;
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 0.5rem;
}

.recipe-title {
    margin: 0 0 0 5rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.checkboxes-container {
    margin-left: 2rem;
}

.recipe-ingredients {
    border: 0.1rem solid var(--color-primary);
    background: var(--color-accent);
    color: var(--color-secondary);
    border-radius: 0.5rem;
    padding: 3rem 0 3rem 0;
    width: 100%;
}

.recipe-steps {
    border: 0.1rem solid var(--color-primary);
    background: var(--color-accent);
    color: var(--color-secondary);
    border-radius: 0.5rem;
    padding: 3rem 0 3rem 0;
    width: 100%;
}

.recipe-video {
    background: var(--color-accent);
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    width: 50%;
    height: 20rem;
}

.recipe-video:hover {
    background: var(--color-accent-hover);
    color: var(--color-secondary);
}

.checkbox:checked .strike-through  {
    text-decoration: line-through;
}

.publisher-info {
    border: 0.1rem solid var(--color-primary);
    background: var(--color-accent);
    color: var(--color-secondary);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 5rem;
    width: 100%;
}

.recipe-save-like{
    display: flex;
    margin-right: 4rem;
    width: 100%;
    justify-content: flex-end;
    gap: 2rem;
}

.recipe-comments{
    background: var(--color-accent);
    color: var(--color-secondary);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 15rem;
    gap: 2rem;
    overflow: auto;
}

.recipe-remove-item svg {
    fill: var(--color-primary); 
    height: 0.9rem;
    width: 0.9rem;
}

.recipe-ingredient,
.recipe-step {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.neutral-message {
    color: var(--color-primary);
}
.comments-form{
    background-color: rgba(51, 51, 51,0.8);
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
}
.transparent-background{
    height: 100%;
    width: 100%;
    z-index: 3;
}
.form-content{
    background: var(--color-tertiary);
    border: 0.1rem solid var(--color-primary);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    gap: 2rem;
    margin: 5rem;
    height: 75%;
    z-index: 3;
}
.form-exit {
    position: absolute;
    right: 7rem;
    top: 7rem;
}
.form-exit svg {
    fill: var(--color-primary);
    height: 1.5rem;
    width: 1.5rem;
}
.form-exit:hover {
    cursor: pointer;
}
.comments-form-title{
    font-size: 1.5rem;
    padding-top: 2rem;
    position: absolute;
    top: 10rem;
}
.star-checked{
    color: orange;
}
.rating-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.rating-wrapper label{
    cursor: pointer;
}
.rating-wrapper label::after{
    transition: all var(--transition) ease-out;
    -webkit-font-smoothing: antialiased;
    content: "★";
    font-size: 2.5rem;
    -webkit-animation: 1s pulse ease;
    animation: 1s pulse ease;
}
.rating-wrapper:hover::after{
    text-shadow: 0 0 15px #5e5e5e;
    opacity: 0.5;
    color: #5e5e5e;
}
.rating-wrapper input{
    display: none;
}
/* .rating-wrapper input:checked + label::after, */
.rating-wrapper input:checked + label,
.rating-wrapper .rating-input:checked ~ label {   
    color: orange;
    text-shadow: 0  0 20px orange;
    background: red;
}

