.recipe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 60rem;
}

.wrapper {
    margin: auto;
    width: fit-content;
    padding: 2rem 5rem;
}

.recipe-header {
    align-items: center;
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
}

.recipe-image{
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 20rem;
    max-height: 20rem;
}

.recipe-image img {
    object-fit: contain;
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 0.5rem;
}

.image-form {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.description-form {
    display: flex;
    gap: 1.5rem;
    margin: 0;
}

.description-form input {
    border: 1px solid var(--color-secondary);
    padding: 0.3rem;
    border-radius: 0.3rem;
    width: 15rem;
    font-size: 1rem;
}

.recipe-title {
    height: 100%;
    gap: 2rem;
    margin: 0 0 0 5rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.title-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.title-input,
.image-input {
    padding: 0.3rem;
    border-radius: 0.3rem;
    width: 15rem;
    font-size: 1rem;
    border: 1px solid var(--color-primary);
}

.lower-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lower-title div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem
}

.recipe-title svg *{
    fill: var(--color-primary);
}

.recipe-title svg{
    width: 2.5rem;
    height: 2.5rem;
}
.checkboxes-container .neutral-message{
    justify-content: center;
    width: 100%;
    text-align: center;
}

.recipe-ingredients-wrapper {
    text-align: center;
}

.recipe-steps {
    border: 0.1rem solid var(--color-primary);
    background: var(--color-accent);
    color: var(--color-secondary);
    border-radius: 0.5rem;
    padding: 3rem 0 3rem 0;
    width: 100%;
}

.recipe-video {
    background: var(--color-accent);
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    width: 50%;
    height: 20rem;
}

.recipe-video:hover {
    background: var(--color-accent-hover);
    color: var(--color-secondary);
}

.checkbox:checked .strike-through  {
    text-decoration: line-through;
}

.publisher-info {
    border: 0.1rem solid var(--color-primary);
    background: var(--color-accent);
    color: var(--color-secondary);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 93%;
    padding: 2rem;
}

.publisher-info svg * {
    fill: var(--color-secondary);
}

.description-recette{
    background: transparent;
    color: white;
    font-size: 1rem;
}
.recipe-save-like{
    display: flex;
    margin-right: 4rem;
    width: 100%;
    justify-content: flex-end;
    gap: 2rem;
}

.recipe-comments{
    background: var(--color-accent);
    color: var(--color-secondary);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 15rem;
    gap: 2rem;
    overflow: auto;
}

.recipe-remove-item svg {
    fill: var(--color-primary); 
    height: 0.9rem;
    width: 0.9rem;
}

.recipe-ingredient,
.recipe-step {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.recipe-ingredient-content{
    display: inline;
    margin: 0.5rem;
    background-color: transparent;
}

.neutral-message {
    color: var(--color-primary);
}
.inventory-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 5rem auto;
    width: fit-content;
}

.form-content{
    background: var(--color-tertiary);
    border: 0.1rem solid var(--color-primary);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    gap: 2rem;
    margin: 5rem;
    height: 75%;
    z-index: 3;
}

.danger-option {
    color: red;
}

.items-form svg {
    fill: var(--color-primary);
    height: 1.5rem;
    width: 1.5rem;
}


.text-input{
    width: 17rem;
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}
.inventory-item:hover {
    background: var(--color-accent-hover);
    cursor: pointer;
}

.inventory-item-form {
    background: var(--color-accent-hover);
    color: var(--color-secondary);
    background-color: rgba(51, 51, 51,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: none;
}

.items-form-overlay {
    background: var(--color-accent);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40%;
    width: 40%;
}

.inventory-items-form-title {
    font-size: 2rem;
    position: absolute;
    top: 15rem;
}
.input-add-step{
    width: 20rem;
    height: 3rem;
    border-radius: 1rem 1.5rem;
    background: var(--color-accent);
    color: white;
    font-size: large;
}
.input-add-step::placeholder{
    color: white;
    font-family: 'italic';
    font-size: large;
}
.form-exit-item {
    position: relative;
    right: -45%;
    top: -8%;
}

.form-exit-item:hover {
    cursor: pointer;
}

.form-ingredient-option{
    display: inline-block;
}

.space-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 2rem;
}

.space-div {
    background: var(--color-accent);
    color: var(--color-secondary);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.space-div-arrow {
    transition: var(--transition);
    transform: rotate(-90deg);
}

.space-div-arrow svg {
    fill: var(--color-secondary);
    height: 1.5rem;
    width: 1.5rem;
}

.space-div:hover {
    background: var(--color-accent-hover);
    transition: var(--transition);
}

.space-div:hover .space-div-arrow {
    transform: rotate(0deg);
}

.form-exit {
    position: absolute;
    right: 7rem;
    top: 7rem;
}

.inventory-form {
    display: none;
}

.form-exit svg {
    fill: var(--color-primary);
    height: 1.5rem;
    width: 1.5rem;
}
.form-exit:hover {
    cursor: pointer;
}
.comments-form-title{
    font-size: 1.5rem;
    padding-top: 2rem;
    position: absolute;
    top: 10rem;
}
.comments-form{
    display: none;
    position: absolute;
    width: 75%;
    height: 100%;
    top: 90%;
    align-self: center;
}
.rating-wrapper{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;
}
.rating-wrapper label{
    cursor: pointer;
}
.rating-wrapper label::after{
    transition: all var(--transition) ease-out;
    -webkit-font-smoothing: antialiased;
    content: "★";
    font-size: 2.5rem;
    -webkit-animation: 1s pulse ease;
    animation: 1s pulse ease;
}
.rating-wrapper:hover::after{
    text-shadow: 0 0 15px #5e5e5e;
    opacity: 0.5;
    color: #5e5e5e;
}
.rating-wrapper input{
    display: none;
}
/* .rating-wrapper input:checked + label::after, */
.rating-wrapper input:checked + label,
.rating-wrapper .rating-input:checked ~ label::after {   
    color: orange;
}


.form-exit:hover {
    cursor: pointer;
}

.add-new-location {
    display: none;
    border: 1px solid var(--color-primary);
    background: var(--color-accent);
    color: var(--color-secondary);
    transition: var(--transition);
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
}

.add-new-location:hover {
    background: var(--color-accent-hover);
    cursor: pointer;
}
.item-wrapper{
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
ul{
    list-style-type: none;
}
ul > *{
    width: 50%;
}

.x-button svg,
.modify-button svg{
    height: 1.5rem;
    width: 1.5rem;
}
.button-add-ingred,
.button-add-step{
    background-color: var(--color-tertiary);
}
.form-ingredient-wrapper{
    border-collapse: collapse;
    background: var(--color-secondary);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    min-width: 40rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.2rem;
    overflow: hidden;
}
.form-ingredient-wrapper td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.form-ingredient-wrapper tr:nth-of-type(even) {
    background-color: var(--color-accent-border);
}

.table-name {
    padding-left: 1rem;
    padding-right: 1rem;
}

.table-modify {
    text-align: center;
}

.table-number {
    text-align: center;
}

.table-number form {
    margin: 0;
}

.table-number input {
    width: 6rem;
    background-color: transparent;
}

.table-remove {
    text-align: right;
    padding-right: 2rem;
}

.table-changed-background {
    background: var(--color-primary) !important;
    color: var(--color-secondary);
}
.form-steps-wrapper{
    border-collapse: collapse;
    background: var(--color-secondary);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    min-width: 40rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.2rem;
    overflow: hidden;
}
.form-steps-wrapper td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.form-steps-wrapper tr:nth-of-type(even) {
    background-color: var(--color-accent-border);
}
.table-count-instruction{
    padding-left: 1rem;
    padding-right: 1rem;
}
.table-steps{
    width: 4rem;
    text-align: left;
}
.textearea-step{
    max-width: 35rem;
    max-height: 10rem;
}
.table-checkbox{
    width: 1rem;
}

.table-checkbox-steps {
    width: 5rem;
}
.table-changed-background-steps{
    background: var(--color-primary) !important;
    color: var(--color-secondary);
}
.instruction-form{
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
}
.add-comment-button{
    transition: var(--transition);
    align-self: flex-end;
    width: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.add-comment-button > svg{
    transition: var(--transition);
    fill: var(--color-primary);
    width:2rem;
    height:2rem;
}
.add-comment-button:hover{
    gap: 0.6rem;
    cursor: pointer;
    font-size: 1.1rem;
}
.add-comment-button:hover > svg{
    width:2.2rem;
    height:2.2rem;
}

@media screen and (max-width:800px) {

    .wrapper {
        padding: 1rem;
        width: 90% !important;
    }

    .recipe-header {
        flex-direction: column;
        gap: 2rem;
    }

    .recipe-title {
        margin: 0;
    }

    .title-wrapper {

        margin: 0
    }

    .publisher-info {
        width: 80%;
    }

    .table-number input {
        width: 4rem;
        margin: 0;
    }

    .table-name {
        max-width: 6rem;
    }
    .recipe-ingredients-wrapper,
    .checkboxes-container {
        width: 100%;
    }
    .form-ingredient-wrapper,
    .form-steps-wrapper  {
        width: 100%;
        min-width: 10rem;
        margin: 0;
    }

    .recipe-title {
        font-size: 2rem;
    }

    .recipe-image img {
        max-width: 90%;
    }
}