body {
    font-family: Verdana;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.header-banner {
    background: #cccccc;
}

.foodbook-logo {
    height: 5rem;
    width: 10rem;
}

.colors-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;

}

.color-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.color-label {
    font-size: 2rem;
}

.color {
    border: 1px solid black;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-one {
    background: var(--color-primary);
    color: white;
}

.color-two {
    background: var(--color-secondary);
}

.color-three {
    background: var(--color-tertiary);
}

.color-four {
    background: var(--color-accent);
    color: white;
}